body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  background-color: #000000;
  color: brown;
}
h1,
.month {
  text-align: center;
}
.date {
  width: 14%;
  margin: auto;
  height: 55px;
  background-color: brown;
  display: flex;
  justify-content: center;
  border-radius: 7px;
}
p {
  color: white;
  font-weight: 800;
}
